body{
  button{
    border-radius: 0 !important;
  }
  @mixin icon{
    font-size: $iconsize*0.62;
    color: $font-c-w;
    text-shadow: 0 0 15px #d35400;
  }
  .icon{
    @include icon;
  }
  .icon-big{
    @include icon;
    font-size: $iconsize;
    background-color: rgba($dark-blue,0.4);
    width: $icon-m-size !important;
    height: $icon-m-size !important;
    line-height: $icon-m-size;
    border-radius: 50%;
  }


  /* titles */
  h2{
    font-size: 1.4rem;
    font-weight: $semibold;
  }
  h3{
    font-size: 1.1rem;
    font-weight: $medium;
  }
  .highlight-link{
    a{
      font-size: 1.1rem;
      font-weight: $bold;
    }
  }
  .badge{
    top: $topspacing-numbericon;
  }
  h2:hover,h3:hover{

  }

  /* lists*/
  a{
    text-decoration: none !important;
  }
  ul{
    padding: 0;
    li{
      list-style: none;
      a:hover{
        color: lighten($red-light,0.5) !important;
      }
    }
  }
  /* button styles weg doen*/
  .btn:focus,.btn:active, .btn:visited,.form-control,.form-control:active , .form-control:visited {
    border:none;
    outline: none !important;
    box-shadow: none !important;
  }
  .bg-med-blue{
    background-color: rgba($med-blue,0.7) !important;
  }
}


/* breakpoints*/

@media (min-width: 576px) {  }

@media (min-width: 768px) {
  .badge{
    top: ($topspacing-numbericon * 2) !important;
  }
  .borderleft{
    border-left: solid rgba($blue-medio,0.6) 3px !important;
  }
  .borderright{
    border-right: solid rgba($blue-medio,0.6) 3px !important;
  }
}

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }
