button{
  border-radius: 0 !important;
}
.icon{
  font-size: $iconsize*0.7;
}
@include media-breakpoint-up(sm) {
  font-size: $def-font-size*0.8;
  .icon{
    font-size: $iconsize*0.8;
  }
}
@include media-breakpoint-up(md) {
  font-size: $def-font-size*0.9 !important;
  .icon{
    font-size: $iconsize*0.9;
  }
  .borderleft{
    border-left: $med-blue solid 2px !important;
  }
  .borderright{
    border-right: $med-blue solid 2px !important;
  }
}
@include media-breakpoint-up(lg) {
  .icon{
    font-size: $iconsize;
  }
}
@include media-breakpoint-up(xl) {  }
