//detailpage
.detail{
  .detail-title{
    background-color: $bg-grey;
    .detail-productlogo{
      img{
      }
    }
  }
  .detail-info{
    h2{
      font-size: 2rem;
    }
  }
  .iconstock{
    right: 15px;
    top: 5px;
  }
  .price{
    p{
      font-size: 2rem !important;
    }
    p.price-pr{
      font-size: 1.5rem!important;
      bottom: 15px;
    }
  }
  .zoom-small.active{
    img{
      border: 2px solid  $red-light;
      box-shadow:
              0 6.7px 5.3px rgba(0, 0, 0, 0.028),
              0 22.3px 17.9px rgba(0, 0, 0, 0.042),
              0 100px 80px rgba(0, 0, 0, 0.07)
    ;
    }
  }
}
.modal-open {
  overflow-y: scroll !important;
}