//detailpage
.detail{
  .detail-title{
    background-color: $bg-grey;
    .detail-productlogo{
      img{
      }
    }
  }
  .detail-info{
    h2{
      font-size: 2rem;
    }
  }
  .iconstock{
    right: 15px;
    top: 5px;
  }
  .price-big{
    right: 0;
    top: 0;
    p{
      font-size: 2em !important;
    }
    p.price-pr{
      font-size: 1.4rem!important;
      top: -20px;
    }
  }
  .zoom-small.active{
    img{
      border: 2px solid  $red-light;
      box-shadow:
              0 6.7px 5.3px rgba(0, 0, 0, 0.028),
              0 22.3px 17.9px rgba(0, 0, 0, 0.042),
              0 100px 80px rgba(0, 0, 0, 0.07)
    ;
    }
  }
  #customcounter{
    border-radius: 10px;
    outline: none !important;
    a:focus{
      background-color: $red-light;
      color: $font-c-w;
    }
  }
  #getinfoshopping{
    span{
      font-size: 0.9rem;
    }
  }
  .readmore{
    text-decoration: underline !important;
    font-weight: $semibold;
  }
  #tabsproduct{
    .nav-item{
      a{
        background-color: $bg-grey;
      }
    }
    font-size: 0.9rem;
    font-weight: $semibold;
    li{
      .active{
      background-color: $med-blue;
      color: $font-c-w;
      }
      a:hover{
        color: $font-c-g!important;
      }
      .active:hover{
        color: $font-c-w !important;
      }
    }

  }
  .tab-content{
    ul{
      .list-group-item{
        padding: 0.4rem 1.25rem !important;
      }
    }

  }
}
.modal-open {
  overflow-y: scroll !important;
}