//detailpage
.detail{
  .detail-title{
    background-color: $bg-grey;
    .detail-productlogo{
      img{
      }
    }
  }
  .detail-info{
    h2{
      font-size: 2rem;
    }
  }
  .iconstock{
    right: 15px;
    top: 5px;
  }
  .price{
    p{
      font-size: 2rem !important;
    }
    p.price-pr{
      font-size: 1.5rem!important;
      bottom: 15px;
    }
  }
  .zoom-small.active{
    img{
      border: 3px solid  $med-blue;
    }
  }
}