/**lokale fonts**/
$fontface-path:'../fonts';

@font-face {
  font-family: 'Quicksand';
  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');
}
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import "~@fortawesome/fontawesome-free/scss/brands";