/**lokale fonts**/
$fontface-path:'../fonts';

@font-face {
  font-family: 'Titillium Web';
  @import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900&display=swap');;
}
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import "~@fortawesome/fontawesome-free/scss/brands";