$hamburger-color: $white;
$hamburger-color-crossed: $white;
$hamburger-width: 27px;
$hamburger-height: -15px;
$hamburger-line-height: 3px;
$hamburger-line-border-radius: 4px;

.hamburger {
  width: $hamburger-width;
  height: $hamburger-height;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: inline-block;
}
.hamburger__line {

  display: block;
  position: absolute;
  height: $hamburger-line-height;
  width: 100%;
  background: $hamburger-color;
  opacity: 1;
  left: 0;
  transform: rotate(180deg);
  transition: .25s ease-in-out;
  border-radius: $hamburger-line-border-radius;
  &:nth-child(1) {
    top: 0;
    .collapse.show & {
      top: $hamburger-height / 2 - ($hamburger-line-height / 2);
      width: 0;
      left: 50%;
    }
  }
  &:nth-child(2) {
    top: $hamburger-height / 2 - ($hamburger-line-height / 2);
    .collapse.show & {
      transform: rotate(45deg);
      transition-duration: 0.22s;
      background: $hamburger-color-crossed;
    }
  }
  &:nth-child(3) {
    top: ($hamburger-height / 2 - ($hamburger-line-height / 2))*2;
  }
}
button[aria-expanded="true"] .hamburger__line{
  background-color: #42DCA3;
  &:nth-child(1) {
      top: $hamburger-height / 2 - ($hamburger-line-height / 2);
      width: 0;
      left: 50%;
  }
  &:nth-child(2) {
      transform: rotate(45deg);
      transition-duration: 0.40s;
      background: $hamburger-color-crossed;
    }
  &:nth-child(3) {
    top: $hamburger-height / 2 - ($hamburger-line-height / 2);
    transform: rotate(-45deg);
    transition-duration: 0.40s;
    background: $hamburger-color-crossed;
  }
}