@import './fonts.scss';
@import "../vendor/variables";
@import './hamburger';
@import "./default";
@import "./mixins";
/*url (#{var} + link)*/
body{
  box-shadow:
          0 4.5px 3.6px rgba(0, 0, 0, 0.024),
          0 12.5px 10px rgba(0, 0, 0, 0.035),
          0 30.1px 24.1px rgba(0, 0, 0, 0.046),
          0 100px 80px rgba(0, 0, 0, 0.07);
  font-family: $font-main,sans-serif ;
  max-width: $width-lay;
  min-width: $min-width;
  font-size: $def-font-size;
  box-sizing: border-box;
  color: $dark-blue;
  #nav{
    max-width: $width-lay;
    min-width: $min-width;
    color: $font-c-w;
    .navbar{
      background-color: rgba($dark-blue,1);
      box-shadow:
              0 0.4px 1.2px rgba(0, 0, 0, 0.026),
              0 0.9px 2.7px rgba(0, 0, 0, 0.045),
              0 1.6px 4.6px rgba(0, 0, 0, 0.056),
              0 2.3px 6.9px rgba(0, 0, 0, 0.063),
              0 3.4px 10px rgba(0, 0, 0, 0.068),
              0 4.8px 14.2px rgba(0, 0, 0, 0.07),
              0 6.8px 20.1px rgba(0, 0, 0, 0.071),
              0 9.9px 29.2px rgba(0, 0, 0, 0.072),
              0 15.2px 45px rgba(0, 0, 0, 0.071),
              0 27px 80px rgba(0, 0, 0, 0.07)
    ;
      button[aria-expanded="true"] i{
        color: lighten($red-light,0.4);
      }
      .navbar-toggler{
        border: none;
        outline: none;
        color: $font-c-w;
      }
      .badge{
        font-size: 0.9rem;
        font-weight: $semibold;
        background-color: $red-light;
        color: $font-c-w;
      }

    }
    #navbarToggleExternalContent{
      font-size: 0.9rem;
      font-weight: $light;
      a{
        color: $font-c-w;
      }
      h3{
        font-weight: $regular;
      }
      h3:hover{
         text-decoration: underline;
       }
    }
    #navbarToggleExternalSearch{
      border-top: 2px solid $dark-blue;
      border-bottom: 2px solid $dark-blue;
      .form-control{
        background-color: rgba($dark-blue,0.7) !important;
        color: $font-c-w !important;
        border-radius: 0;
      }
      .btn{
        min-width: 80px;
      }
    }
  }
  .bread , .breadcrumb{
    background-color: $med-blue !important;
    border-radius: 0;
    a{
      color: $font-c-w;
    }
    h2{
      color: $font-c-w;
    }
  }


  .container-fluid{
    top: 145px;
    .carousel{
      .carousel-caption{
        left: 0;
        pointer-events: none;
      }
    }
    /*tussencat*/
    .tussencat{
      .icon-more{
        opacity: 0;
      }
    }
    .tussencat:hover .icon-more{
      opacity: 1 !important;
    }
    #Tussencat{
      color: $font-c-w;
      div{
        p{
          font-size: 1.05rem;
        }
        div{
          margin-top: 140px;
          margin-bottom: 80px;
        }
      }
      /*images loaden*/
      #Tussencat-1{
        background: url($image-path +"/focusizalcomax.png") no-repeat center center;
        background-size: cover;
      }
      #Tussencat-1:hover{
        background: linear-gradient(rgba($med-blue, .5), rgba($med-blue,.5)), url($image-path +"/focusizalcomax.png") no-repeat center center;
        background-size: cover;
      }
      #Tussencat-2{
        background: url($image-path +"/xandprostand.png") no-repeat center center;
        background-size: cover;
      }
      #Tussencat-2:hover{
        background: linear-gradient(rgba($med-blue, .5), rgba($med-blue,.5)),url($image-path +"/xandprostand.png") no-repeat center center ;
        background-size: cover;
      }
    }
    #about,.featured, Article{
      h3{
        font-size: 0.95rem;
      }
    }
    #about{
      margin: 60px 0 50px;
    }
    .featured{
      background-color: $bg-grey;
      .tab-content{
        background: $font-c-w;
        a,a:hover{
          color: $dark-blue;
        }
      }
    }
    .news{
      background-color: $blue-medio;
      color: $font-c-w;
      form{
        input{
          height: 2rem;
          font-size: 0.85rem;
          font-weight: $regular;
        }
        button{
          background-color: $dark-blue;
          left: -10px;
          border-radius: 0 25px 25px 0 !important;
        }
      }
    }
  }
  .bread{
    background:linear-gradient( rgba($med-blue,0.8) 100%, rgba($blue-medio,0.8)100%),url($image-path +"/focus.png") center no-repeat;
    background-size: cover;
    font-size: 1.2rem !important;
    font-weight: $medium;
      .breadcrumb{
        background-color: rgba(black,0) !important;
      }
   }
  .dropdown-menu{
    font-size: 0.9rem;
  }
  footer{
    background-color: $dark-blue;
    color: $font-c-g;
    h2,h3{
      color: $font-c-w;
      font-size: 1.1rem;
      letter-spacing: 0;
    }
    h3{
      font-size: 0.8rem;
      font-weight: $medium;
    }
  }
}

