@import './fonts.scss';
@import './hamburger';
@import "../vendor/variables";

body{
  max-width: $width-lay;
  font-size: $def-font-size;
  box-sizing: border-box;
  .navbar{
    background-color: rgba($dark-blue,0.8) !important;
    .navbar-toggler{
      border: none;
      outline: none;
      color: white;
    }
  }
  .icon{
    color: $white;
  }
}

@import "./default";