@mixin icon{
  font-size: $iconsize*0.62;
  color: $font-c-w;
}
.icon{
  @include icon;
}
.icon-r{
  @include icon;
  font-size: $iconsize;
  color: $red-light;
}
.icon-big{
  @include icon;
  font-size: $iconsize;
  background-color: rgba($dark-blue,0.4);
  width: $icon-m-size !important;
  height: $icon-m-size !important;
  line-height: $icon-m-size;
  border-radius: 50%;
}
.icon-pay{
  @include icon;
  font-size: $iconsize;
  line-height: $icon-m-size;
}
.icon-select{
  @include icon;
  font-size: $iconsize*0.7;
  background-color: rgba($dark-blue,1);
  box-shadow: 0 0 0 2px $med-blue;
  width: $icon-m-size *0.8 !important;
  height: $icon-m-size *0.8 !important;
  line-height: $icon-m-size *0.8;
  transition: all .2s ease-in-out;
}
.icon-select:hover{
  transform: scale(0.80);
}
.icon-select.active{
  color: $red-light;
}
.icon-more{
  @include icon;
  height: $size-more-icon !important;
  width: $size-more-icon !important;
  background-color: $dark-blue;
  line-height: $size-more-icon;
  right: 0;
  bottom: 0;
}
.iconstock{
  @include icon;
  font-size: 0.8rem;
  background-color: $red-light;
  border-radius: 15px !important;
  z-index: 999;
}
.iconstock:hover{
  color: $font-c-w;
}

.iconprofile{
  @include icon;
  font-size: 2.2rem;
  color: $dark-blue;
  border: 2px $dark-blue solid;
}
@mixin button{
  background-color: $blue-medio;
  color: $font-c-w;
  border-radius: 15px !important;
  outline: none;
  border: none;
  padding: 5px 20px;
  font-weight: $bold;

}

button.blue-b{
  @include button;
  pointer-events: auto !important;
}

.fea{
  @include button;
}
.fea.active{
  background-color: $med-blue !important;
  border-bottom: 2px outset $red-light;
}
button.profiletab{
  @include button;
  background-color: $med-blue !important;
}

.newbut{
  @include button;
  font-size: 0.8rem;
  padding: 3px 7px;
  top: 5px;
  right: 5px;
  background-color: $med-blue;
  font-weight: $medium;
}
.newbut:hover{
  color: white;
}
.size{
  @include button;
  color: white !important;
}
.size:active, .size:focus {
  background-color: $red-light !important;
}
button.detail-buy{
  @include button;
  background-color: $med-blue;
  font-weight: $semibold;
  border-radius: 5px !important;
}
button.detail-buy:hover{
  color: $font-c-w;
}
@mixin price{
  font-size: 1.2rem;
  font-weight: $bold;
  letter-spacing: -0.8px;
  z-index: 1046;
}
.price{
  @include price;
}
.price-cro{
  @include price;
  text-decoration: line-through;
}
.price-pr{
  @include price;
  font-size: 1rem;
  color: $red-light;
  right: 0;
  bottom: 7px;
}
.btn-quik , .btn-quik:hover{
  background-color: $med-blue;
  color: $font-c-w;
  border-radius: 20px !important;
  font-size: 0.9rem;
}
