@mixin icon{
  font-size: $iconsize*0.62;
  color: $font-c-w;
}
.icon{
  @include icon;
}
.icon-r{
  @include icon;
  font-size: $iconsize;
  color: $red-light;
}
.icon-big{
  @include icon;
  font-size: $iconsize;
  background-color: rgba($dark-blue,0.4);
  width: $icon-m-size !important;
  height: $icon-m-size !important;
  line-height: $icon-m-size;
  border-radius: 50%;
}
.icon-select{
  @include icon;
  font-size: $iconsize*0.7;
  background-color: rgba($med-blue,1);
  box-shadow: 0 0 0 2px $med-blue;
  width: $icon-m-size *0.8 !important;
  height: $icon-m-size *0.8 !important;
  line-height: $icon-m-size *0.8;
  transition: all .2s ease-in-out
}
.icon-select:hover{
  transform: scale(0.9);
}
.icon-select.active{
  color: $red-light;
}

@mixin button{
  background-color: $blue-medio;
  color: $font-c-w;
  border-radius: 25px !important;
  outline: none;
  border: none;
  padding: 5px 20px;
  font-weight: $bold;
}

button.blue-b{
  @include button;
  pointer-events: auto !important;
}

.fea{
  @include button;
}
.fea.active{
  background-color: $blue-medio !important;
  border-bottom: 2px solid $red-light;
}

.newbut{
  @include button;
  padding: 3px 7px;
  top: 5px;
  right: 5px;
  font-weight: $medium;
}
.newbut:hover{
  color: white;
}
@mixin price{
  font-size: 1.2rem;
  font-weight: $bold;
  letter-spacing: -0.8px;
  z-index: 1046;
}
.price{
  @include price;
}
.price-cro{
  @include price;
  text-decoration: line-through;
}
.price-pr{
  @include price;
  font-size: 1rem;
  color: $red-light;
  right: 0;
  bottom: 7px;
}
